/* ----- Mobile ----- */

@media (max-width: 767px) {
    .navbar #banner {
        display: none;
    }

    .main-row > .main, .main-row > .main.with-sidebar {
        margin-left: 0;
    }

    .widget-header {
        padding: 7px 15px;
    }

    .widget-content {
        padding: 10px;
    }

    .trombi-page #trombi-container {
        margin: -5px 0 0 0;
        padding: 0 4%;
    }
    .submissions-page #trombi-container {
        padding: 0 4%;
    }

    .widget-box.trombi {
        width: 46%;
        max-width: 150px;
        height: auto;
        margin: 1%;
    }

    .profile .profile-image {
        float: none;
        margin-right: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    .navbar .navbar-header {
        margin-left: 20px;
    }
    .navbar #logo {
        display: none;
    }

    .sidebar, div.noob.empty .sidebar {
        margin-right: 0;
        width: 100%;
        position: relative;
        height: auto;
        top: 0;
        float: none;
        z-index: 0;
    }
    .sidebar #user-info > a {
        padding: 10px 15px;
        display: block;
    }
    .sidebar #user-info > a .user-photo {
        float: left;
        width: auto;
        height: 16px;
        margin: 5px 6px 0 0;
    }
    .sidebar #user-info .box-login {
        text-align: left;
    }
    #bottom-search {
        position: relative;
        width: 100%;
        border-right: none;
    }

    hr {
        margin: 10px 0;
    }
}
